.sidebar{
  width: 20%;
  height: 100%;
  background-color: cadetblue;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  color: aliceblue;
}

.sidebar > h2 {
  margin: 2rem 2rem;
}

.section{
  margin: 4rem 2rem;
  font-size: 1.5rem;
  gap: 1rem;
  line-height: 2rem;
}