.cards{
  border: 2px solid aliceblue;
  border-radius: 20px;
  margin: 0.5rem;
  padding: 1rem;
  background-color: cadetblue;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  overflow-y: auto;
  display: inline-flex;
  flex-wrap: wrap;
  height: auto;
}

.cards-content {
  text-align: start;
  font-size: 16px;
}

.card-btn{
  border: 2px solid aliceblue !important;
  color: aliceblue !important;
  border-radius: 10px !important;
  margin: 5% auto !important;
  padding: 10px !important;
  background-color: darkslategrey !important;
  opacity: 0.6 !important;
  text-align: center !important;
  align-items: center !important;
  width: 10rem !important;
}

 .card::-webkit-scrollbar {
  width: 12px;               
}

.card::-webkit-scrollbar-track {
  background: transparent;        
}

body::-webkit-scrollbar-thumb {
  background-color: cadetblue;    
  border-radius: 5px;       
  border: transparent;
}

 @keyframes fadeIn {
  0% {
    opacity: -2;
  }
  50% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }

}